*{ margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: orange;
}

h1 {
    font-size: 16px;
    color: orange;
}

h2 {
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 1000px;
}

header, footer, footer a {
    text-align: center;
    background-color: blue;
    color: whitesmoke;
}

img {
    width: 600px;
    height: 50%;
    float: right;
    height: 400;
}

footer {
    font-size: 12px;
}