/* for small-5 */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: blue;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
  text-align: center;
  border-bottom: 1px solid blue;
}

li a {
  display: block;
  color:orange;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: blue;
  color: orange;
}

li a:hover {
  background-color: orange;
  color: blue;
}
footer {
  color: orange;
}
footer a{
  color: orange;
}

@media screen and (max-width: 600px) {
  ul li.right, 
  ul li {float: none;}

  li b {
    display: inline-block;
    color: orange;
    background-color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li b:hover, .dropdown:hover .dropbtn {
    background-color: orange;
    color: blue;
  }
  li.dropdown {
    display: inline-block;
  }
  div.dropdown-content{
    position: absolute;
    display: none;
    background-color: blue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content b:hover {
    background-color: orange
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
}
  @media screen and (min-width: 600px){
  li.dropdown{
    display: none;
  }
  li b{
    display: none;
  }
}