

* { margin: 0;
    box-sizing: border-box;}

body {
  font-size: 16px;
  font-family: "Comic Sans MS", cursive, sans-serif;
   
}
h1, h2, h3 {
     font-family: "Comic Sans MS", cursive, sans-serif;
}

header {
    padding: .5rem 0%;
    background-color: blue;
    position: static;
   
 
}

header .subheading { 
    display:flex;
    justify-content: center;
  
}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: orange;
    margin-right: auto;
        }


nav {
  background-color: blue;
    display: flex;
}

nav ul {

    margin: 0;
    padding: 0;
     display: flex;
    flex-wrap: wrap;


}
nav ul li {
    
    list-style: none;
    text-align: center;
    background-color: blue;
    flex-basis: 100%;
    }
nav ul li a {
   display: block;
    background-color: blue;
    color: orange;
    border-left: 1px solid blue;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    

    }
nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: orange;
    color: black;
    flex-basis: 100%;
    
    }
nav ul li.active a {
    background-color: green;
    color: red;
    }
nav ul.hide {display: none;}

main {
    padding: 0 2%;
    min-height: 10rem;
    display: flex;
    flex-flow: column nowrap;
}



section.summary {
        flex-direction: column;
        text-align: center;
        background-color: green;
        color:red;
        border: 4px solid green;
        border-radius: 5px 30px;
        padding: 0 10px 0 10px;
        margin: 2em 1em;
}

section.forecast {
    display: none;
  }
section.city{
    display:flex;
    flex-flow: column nowrap;
       border-style: solid;
    border-width: medium;
}
.mainarticle {
      background-color: green;
        color:red;
        border: 4px solid green;
        border-radius: 5px 30px;
        padding: 0 10px 0 10px;
        margin: 2em 1em;
    
}
.articlesummer{
     text-align: justify;
    padding: 0 px 0 10px;
     width: 100%;
    margin: 1rem ;
}
main figure.franklinphoto img { 
    width: 100%;
    padding: 1em 1em;
    margin: 0;

}
main figure.franklinphoto figcaption{
    text-align: center;
    font-size: .75rem
}

main figure.summerphoto img { 
    float:left;
    overflow: hidden;
    width: 40%;
    margin: 1rem 2%;


}
/* Gallery style*/

div.theGallery {
    display: grid;
    
    grid-template-columns: auto;
    grid-gap: 20px;
}

div.theGallery figure {
    margin: 2rem 0;
    border: none;
}


div.theGallery figure figcaption {
            text-align: center;
            font-size: 1.0rem;
}
	div.theGallery figure:hover {
		box-shadow: 5px 10px 10px green;
        opacity: .5;
        border-radius: 5px 50px
}
div.theGallery figure img{ width: 100%;
    border-radius: 5px 50px;
}

/*Storm Center styles */

form fieldset {
    margin: 1.3rem 0;
    border: 4px solid green;
    padding: .5rem 2%;
    border-radius: .8em;
    width: 100%;
    max-width: 500rem;
    
    
} 


form legend {
     color:red;
    margin: 0 1rem;
    padding: .10rem;
    font-size: 1.5em;
}

form label {
	display: block;
     margin: .1rem;
    padding: 1rem;
    color:green;
    
}

form span {
	display: block;
    font-size: 1rem;
    color: red0;
    max-width: 20rem;
  
}
form label input{
    padding: .6rem;
     background-color: orange;
    border: 1px solid  red;
    border-radius: .3em;
}
form input.submitBtn {
    padding: .5rem 2%;
	margin-bottom: 1rem;
	background-color: orange;
	border-radius: .3em;
	border: 4px solid red;
	margin-left: 2%;
	color: red;
}
form select {
	 display: block;
     margin: .1rem;
    color:black;
    font-size:1em;
    background-color: orange;

}
   form textarea {
       padding: 1rem 1rem;
     background-color: orange;
    border: 1px solid  black;
    border-radius: .3em; 
}

form label input:required {
    border-left: solid 4px purple ;
}

form label input:required:valid { 
    border-left: solid 4px purple;
}
.thanks{display:flex;
    text-align: center;
    
    
}

/*-----HOMEPAGE-----*/
.homepage h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.homepage p {
     font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 0.3em;
    
}
main figure.homepagephoto img {
    width: 100%;
    margin: 0;
}
main figure.cloudsky img { 
    width: 100%; 
    margin: 0;
    
}
   .townsinfo {
    display: grid;
    grid-template-columns: auto;
    padding: 0.2em;
       
    }
    section>article {
        background-color: red;
        color:blue;
        border: 4px solid red;
        border-radius: 5px 30px;
        padding: 0 10px 0 10px;
        margin: 2em 1em;
       
    }
    .townsinfo h2 {
        font-family: "Comic Sans MS", cursive, sans-serif; 
        color: black;
        margin: 1em;
        text-align: center;
    }
     .townsinfo h3 {
         font-family: "Comic Sans MS", cursive, sans-serif;
        color: black;
        margin: 0.7em;
         text-align: center;
    }
    .townsinfo p {
         font-family: "Comic Sans MS", cursive, sans-serif;
        margin: 0.2em;
    }
    .townsinfo ul {
         font-family: "Comic Sans MS", cursive, sans-serif;
        line-height: 1.9em;

    }
    
/*Footer*/

footer {
 background-color: orange;
    padding: .5rem 2%;
    text-align: center;
}
.clearfix:after{
  content: "";
  display: table;
  clear: both;
}