table{
    font-family: sans-serif;
    border-collapse: collapse;
    border: 5px solid gray;
}

tbody tr th{
    background-color: #628ca6;
    border: 5px solid gray;
}
tbody tr:nth-last-child(even) td{
    background-color: #7fb9c2;
    border: 5px solid gray;
}
tbody tr:nth-last-child(odd) td{
    background-color: rgb(128, 189, 168);
    border: 5px solid gray;
}
th{
    color:white;
    background-color:rgb(17, 99, 99);
    border: 5px solid gray;
}
tfoot{
    background-color:rgb(17, 99, 99);
    border: 5px solid gray;
}
td#special{
    background-color:rgb(17, 99, 99);
    border: 5px solid gray;
}
th#acme{
    color:black;
}